# Database configuration (Şifrelerin gitmemesi için)
config/config.php

# User uploads (Başkalarının dosyalarını görmemesi için)
storage/uploads/*
!storage/uploads/.gitkeep

# System files
.DS_Store
Thumbs.db